# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Firebase service account file (contains sensitive credentials)
firebase-service-account.json

# Editor/IDE
# .idea/
# .vscode/


# MacOS
.DS_Store

# Mocks
*mocks

# Go debug binary
__debug_bin*

# Excel temp files
~$*.xlsx

# Test file copies created by copyTestFile function
*-test-*.xlsx
*-test-*.xls

# Firebase service account file (contains sensitive credentials)
firebase-service-account.json
google-service-account.json

**/secret/*

**/uploads/*

ginkgo.report

tmp/**