# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=cim_db

# Server Configuration
SERVER_PORT=8080
SERVER_HOST=0.0.0.0

# Firebase Configuration

FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
FIREBASE_PROJECT_ID=your-firebase-project-id

# Firebase Testing Utils
FIREBASE_WEB_API_KEY=
FIREBASE_TEST_USER=
FIREBASE_TEST_PASSWORD=

# RBAC settings
RBAC_ADAPTER=file/sql

# Excel Configuration
EXCEL_MAX_ROWS=10000
EXCEL_MAX_COLS=50
